<a href="https://colab.research.google.com/github/rashi-ash/Learn.py/blob/main/day_5/TASK_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Given a list l=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]

Write a single line program to display.

a) elements at even index in the list.

b) remove the 3 middle elements (45, 22 and 56)

In [20]:
#please write the code below this line
list=[23, 45, 25 ,78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
print("The list is :",list)
print("The elements in even positions are : ")
for i in range(1, len(list),2): 
    print(list[i]); 
del list[5:8]
print("Updated list is :", list)

The list is : [23, 45, 25, 78, 90, 45, 22, 56, 99, 12, 9, 75, 32]
The elements in even positions are :
45
78
45
56
12
75
Updated list is : [23, 45, 25, 78, 90, 99, 12, 9, 75, 32]

2.Given a list lowerCase=['a', 'e', 'i', 'o', 'u']
Create a new list upperCase using list comprehension and copy the content of the lowerCase list, but in uppercase (capital letters). (upperCase should be ['A', 'E', 'I', 'O', 'U'])

In [22]:
#please write the code below this line
input = ['a', 'e', 'i', 'o', 'u'] 
list = [x.upper() for x in input]
print(list)

['A', 'E', 'I', 'O', 'U']

3.Given a tuple fruits = ("banana", "cherry", "apple", "grapes")
Create 3 variables yellow, red and green and assign them with fruits of their respective color.
(yellow="banana", red=["cherry", "apple"], green="grapes (hint- Use unpacking)

In [26]:
#please write the code below this line
fruits = ("banana","cherry","apple","grapes")

(yellow,*red,green) = fruits
print(yellow)
print(red)
print(green)

banana
['cherry', 'apple']
grapes