<a href="https://colab.research.google.com/github/rashi-ash/Learn.py/blob/main/day_6/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [2]:
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%11==0):
        nl.append(str(x))
print (','.join(nl))

1001,1078,1155,1232,1309,1386,1463,1540,1617,1694,1771,1848,1925

2. Write a program to print this pattern

           #
          ## 
         ###

In [1]:
n=3
k = 2*n - 2 
for i in range(0, n):   
  for j in range(0, k):
     print(end=" ")
  k = k - 2
  for j in range(0, i+1):
     print("# ", end="")
  print("\r")

    #
  # #
# # #

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [1]:
strings = ["apple", "orange", "apple", "banana"]

new_strings = []

for string in strings:
    new_string = string.replace("apple", "grapes")
    new_strings.append(new_string)
    
print(new_strings)

['grapes', 'orange', 'grapes', 'banana']